.vs
/Library
/Temp
/Assets/XLua/Gen
/Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
/*.csproj
/*.sln
UnityVS
/Assets/UnityVS.meta
.DS_Store
*.o
luajit
buildvm
minilua
libluajit.so
lj_vm.S